body {
    background-color: #000000;
    color: white;
    text-align: justify;
    font-weight: 400;
    margin: 0;
    border: 0;
}
.navbar {
    background-color:#358795;
}
.titulos {
    text-align: center;
    font-weight: 300;
}
/* para cambiar el por defecto del carrusel
.carousel, .carousel-inner{
    height: 43rem;
}

#carouselExampleIndicators {
    height: 43rem;
}
*/
hr{
    border-top: 2px solid;
    color: #358795;
}
.fas {
    display: inline-block
}

.iconos {
    display: inline-block;
    align-content: right;
    
}

a {
    color: white;
}
