body {
    background-color: #000000;
    color: white;
    text-align: justify;
    font-weight: 400;
    margin: 0;
    border: 0;
}
.navbar {
    background-color: teal;
}
.titulos {
    text-align: center;
    font-weight: 400;
}

hr{
    border-top: 2px solid;
    color: teal;
}
.fas {
    text-align: center;
}
.iconos {
    text-align: right;
    
}

a {
    color: white;
}

.icono {
margin-right: auto;
margin-left: auto;
}