/*selectores de etiquetas */
body {
    background-color: #000000;
    color: white;
    text-align: justify;
    font-weight: 300;
    margin: 0;
    border: 0;
}

a {
    color: white;
}

hr{
    border-top: 2px solid;
    color:teal;
}

/*selectores de clases*/
.navbar {
    background-color:#2d9da8;
    color: white;
}
.titulos {
    text-align: center;
}
/* para cambiar el por defecto del carrusel
.carousel, .carousel-inner{
    height: 43rem;
}

#carouselExampleIndicators {
    height: 43rem;
}
*/

.fas {
    display: inline-block
}

.iconos {
    display: inline-block;
    align-content: right;
    
}


